{% extends "app.html" %}
{% load static %}
{% block css %}
{% endblock %}
{% block appcode %}
<header class="main">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('{% static 'images/1.png' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>First Slide</h3>
              <p>This is a description for the first slide.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('{% static 'images/2.png' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Second Slide</h3>
              <p>This is a description for the second slide.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('{% static 'images/3.png' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Third Slide</h3>
              <p>This is a description for the third slide.</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('{% static 'images/4.png' %}')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Fourth Slide</h3>
              <p>This is a description for the third slide.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>          
</header>

<!-- bnTema Lgo -->
<div class="container main">
  <!-- <h1 class="my-4">Welcome to Modern Business</h1> -->
  <div class="row main">
    <div class="col-lg-3 mb-3 portfolio-item">
      <a href="#"><img src="{% static 'images/11.jpeg' %}" alt=""></a>
        <!-- <div class="card-body">
            <a href="#">統一7-ELEVEn獅</a>
        </div> -->
    </div>
    <div class="col-lg-3 mb-3 portfolio-item">
        <a href="#"><img src="{% static 'images/22.jpeg' %}" alt=""></a>
        <!-- <div class="card-body"></div>
            <a href="#">LAMIGO桃猿</a>
        </div> -->
    </div>
    <div class="col-lg-3 mb-3 portfolio-item">
        <a href="#"><img src="{% static 'images/33.jpeg' %}" alt=""></a>
        <!-- <div class="card-body">
            <a href="#">富邦悍將</a>
        </div> -->
    </div>
    <div class="col-lg-3 mb-3 portfolio-item">
          <a href="#"><img src="{% static 'images/44.png' %}" alt=""></a>
          <!-- <div class="card-body">
              <a href="#">中信兄弟</a>
          </div> -->
      </div>
  </div>
<hr>

  <!-- Card -->
  <div class="row main">
    <div class="col-lg-5 col-sm-5">
      <div class="card h-100">
        <h4 class="card-header ">前五場戰績</h4>
        <a href="#"><img class="card-img-top" src="{% static 'images/baseball1.jpeg' %}" alt=""></a>
        <div class="card-body">
            <a href="#" style="margin-right: 3px">一軍</a> <a href="#">二軍</a>
            <table class=" card-text table table-hover">
                <thead>
                  <tr>
                      <th scope="col">場次</th>
                      <th scope="col">日期</th>
                      <th scope="col">對戰組合</th>
                      <th scope="col">比數</th>
                      <th scope="col">勝隊</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <th scope="row">197</th>
                      <td>2018/9/1</td>
                      <td><img src ="{% static 'images/333.png' %}"> VS <img src ="{% static 'images/111.png' %}" ></td>
                      <td>4:5</td>
                      <td><img src ="{% static 'images/111.png' %}"></td>
                  </tr>
                  <tr>
                      <th scope="row">198</th>
                      <td>2018/9/1</td>
                      <td><img src ="{% static 'images/444.png' %}"> VS <img src ="{% static 'images/222.png' %}" ></td>
                      <td>1:10</td>
                      <td><img src ="{% static 'images/222.png' %}"></td>
                  </tr>
                  <tr>
                      <th scope="row">199</th>
                      <td>2018/9/2</td>
                      <td><img src ="{% static 'images/333.png' %}"> VS <img src ="{% static 'images/111.png' %}" ></td>
                      <td>11:2</td>
                      <td><img src ="{% static 'images/333.png' %}"></td>
                  </tr>
                  <tr>
                      <th scope="row">200</th>
                      <td>2018/9/2</td>
                      <td><img src ="{% static 'images/444.png' %}"> VS <img src ="{% static 'images/222.png' %}" ></td>
                      <td>5:13</td>
                      <td><img src ="{% static 'images/222.png' %}"></td>
                  </tr>
                  <tr>
                      <th scope="row">201</th>
                      <td>2018/9/3</td>
                      <td><img src ="{% static 'images/444.png' %}"> VS <img src ="{% static 'images/111.png' %}" ></td>
                      <td>6:2</td>
                      <td><img src ="{% static 'images/444.png' %}"></td>
                  </tr>
                </tbody>
              </table>
          </div>
          
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More..</a>
        </div>
      </div>
    </div>

<!--  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------   -->
    <div class="col-lg-4 col-sm-6">
      <div class="card h-70">
        <h4 class="card-header">戰績排名</h4>
        <a href="#"><img class="card-img-top" src="{% static 'images/baseball2.jpeg' %}" alt=""></a>
        <div class="card-body">
            <div></div><a href="#" style="margin-right: 5px">年度排名</a><a href="#" style="margin-right: 5px">上半季</a><a href="#">下半季</a>
            <table class="table table-hover">
                <thead>
                    <th scope="col">Team</th>
                    <th scope="col">w</th>
                    <th scope="col">L</th>
                    <th scope="col">D</th>
                    <th scope="col">%</th>
                    <th scope="col">GB</th>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><img src ="{% static 'images/1111.png' %}"></th>
                    <td>19</td>
                    <td>17</td>
                    <td>1</td>
                    <td>0.528</td>
                    <td>_</td>
                  </tr>
                  <tr>
                      <th scope="row"><img src ="{% static 'images/4444.png' %}"></th>
                      <td>19</td>
                      <td>17</td>
                      <td>1</td>
                      <td>0.528</td>
                      <td>_</td>
                  </tr>
                  <tr>
                      <th scope="row"><img src ="{% static 'images/2222.png' %}"></th>
                      <td>17</td>
                      <td>17</td>
                      <td>0</td>
                      <td>0.500</td>
                      <td>1.0</td>
                  </tr>
                  <tr>
                      <th scope="row"><img src ="{% static 'images/333.png' %}"></th>
                      <td>17</td>
                      <td>21</td>
                      <td>0</td>
                      <td>0.447</td>
                      <td>3.0</td>
                  </tr>
                </tbody>
              </table>
        </div>
<!--  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------   -->
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More..</a>
        </div>
      </div>
    </div><div class="col-lg-3 col-sm-6">
      <div class="card h-60">
        <h4 class="card-header">賽程資訊</h4>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                  <input class="card-header inputdate " type="date" id="dateid">
                  <p>一軍</p>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">澄清湖</th>
                    <td><img src ="{% static 'images/333.png' %}"> VS <img src ="{% static 'images/111.png' %}"></td>
                  </tr>
                  <tr>
                    <th scope="row">桃園</th>
                    <td><img src ="{% static 'images/444.png' %}"> VS <img src ="{% static 'images/222.png' %}"></td>
                  </tr>
                </tbody>
              </table>
              
              <table class="table table-hover">
                  <thead>
                    <p>二軍</p>
                  </thead>
                  <tbody>
                    <tr>
                    <th scope="row">台南</th>
                    <td><img src ="{% static 'images/222.png' %}"> VS <img src ="{% static 'images/111.png' %}"></td>
                    </tr>
                  </tbody>
                </table>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">More..</a>
        </div>
      </div>
    </div>      
  </div>
<hr>

  <!-- Youtube -->
  <div class="row main">
    <div class="col-lg-6">
      <h2>熱門精選影片</h2>
      <!-- <p>The Modern Business template by Start Bootstrap includes:</p> -->
      <ul>
        <li><i class="fas fa-baseball"></i><a href="#">06/24 富邦 vs 統一 賽後，郭阜林手感逐漸回溫，繳出3安猛打...</a></li>
        <li><i class="fas fa-baseball"></i><a href="#">2018中華職棒29年上半季美技Highlight</a></li>
        <li><i class="fas fa-baseball"></i><a href="#">03/19 富邦 vs 兄弟 賽後，羅力球威不減，先發五局，送出8次三振</a></li>
        <li><i class="fas fa-baseball"></i><a href="#">09/08 兄弟 vs 富邦 二局上，猛象打線攻勢再起，透過三支安...</a></li>
        <li><i class="fas fa-baseball"></i><a href="#">03/18 Lamigo vs 兄弟 四局下，猛象打線發威，攻勢不斷吃下四分大局</a></li>
      </ul>
    </div>
    <div class="col-lg-6">
      <div class="embed-responsive embed-responsive-16by9 img-fluid rounded">
        <iframe class="embed-responsive-item"width="560" height="315" src="https://www.youtube.com/embed/EIGMB6b7Eww" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <hr>

<!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
    </div>
    <div class="col-md-4">
       <a class="btn btn-lg btn-secondary btn-block fas fa-envelope" href="#"> Call to Action </a>
    </div>
  </div>

</div>
{% endblock %}
{% block script %}
{% endblock %}