{% extends "app.html" %}
{% load static %}
{% block css %}
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<link rel="stylesheet" href="{% static 'styles/css/password.css'%}">
{% endblock %}

{% block appcode %}
<body>
<div class="centers">
    <div class="container">
        <div class="container">
            <div class="main-login main-center">
            <h5></h5>
            <div class="centers">
                <form class="" method="post" >
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-flag" aria-hidden="true"></i></span>
                            <select  name="teamid" class="form-control">
                                <option value="1">支持 桃猿</option>
                                <option value="2">支持 統一獅</option>
                                <option value="3">支持 富邦悍將</option>
                                <option value="4">支持 中信兄弟</option>
                                <option value="5">支持 中華職棒</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <!--<label for="name" class="cols-sm-2 control-label">Nombre</label>-->
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="membername" id="membername"  placeholder="真實姓名">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<label for="name" class="cols-sm-2 control-label">Nombre</label>-->
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" id="name"  placeholder="暱稱">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email" id="email"  placeholder="信箱"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!--<label for="password" class="cols-sm-2 control-label">Contraseña</label>-->
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password" data-indicator="pwindicator" placeholder="密碼"/>
                            <div  id="pwindicator" class="form-control">
                                <div class="bar" class="form-control"></div>
                                <div class="label" class="form-control"></div>
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <select  name="newsletter" class="form-control" placeholder="收取電子報">
                                <option value="yes">取得電子報</option>
                                <option value="no">取消電子報</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<label for="name" class="cols-sm-2 control-label">Nombre</label>-->
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="phoneno" id="name"  placeholder="連絡電話">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<label for="username" class="cols-sm-2 control-label">Usuario</label>-->
                        <div class="cols-sm-10">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-globe" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="address" id="username"  placeholder="地址"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-venus fa-lg" aria-hidden="true"></i></span>
                            <select  name="gender" class="form-control" placeholder="性別">
                                <option value="1">男生</option>
                                <option value="2">女生</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa fa-venus fa-lg" aria-hidden="true"></i></span>
                                <input type="text" name="captcha" id="captcha" placeholder="驗證碼"  class="form-control">
                                <img id="img_captcha" src="/member/captcha/">
                                <button id="btn_captcha" type="button">
                                  <i class="fas fa-redo-alt"></i>
                                </button>
                                </select>
                            </div>
                        </div>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button" >註冊</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>  
</div>
 </body>

{% endblock %} 
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'styles/css/email.js' %}"></script> 
<script src="{% static 'styles/css/password.js' %}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="jquery.pwstrength.js"></script>
<script type="text/javascript">
    $(function () {
        //啟用密碼強度指示器，並變更說明文字
        $("input[name='password']").pwstrength({ texts: ['非常弱', '弱', '中等', '強', '非常強'] });

    });
    (function($) {
    $.pwstrength = function(password) {
        var score = 0, length = password.length, upperCase, lowerCase, digits, nonAlpha;
        //字串長度分數 
        if(length < 5) score += 0;
        else if(length < 8) score += 5;
        else if(length < 16) score += 10;
        else score += 15;
        //小寫字母分數
        lowerCase = password.match(/[a-z]/g);//回傳Array字串
        if(lowerCase) score += 1;
        //大寫字母分數
        upperCase = password.match(/[A-Z]/g);
        if(upperCase) score += 5;
        //同時有大小寫的分數
        if(upperCase && lowerCase) score += 2;
        
        digits = password.match(/\d/g);
        //if(digits && digits.length > 1) score += 5;
        //有至少一個數字的分數
        if (digits) {
            score += 5;
        }
         
        //底線也算特殊字元
        nonAlpha = password.match(/[\W_]/g);
        if (nonAlpha)
        {//特殊字元
            //共兩個以上
            score += (nonAlpha.length > 1) ? 15 : 10;
        }
        //同時有大小寫字母+數字+特殊字元
        if(upperCase && lowerCase && digits && nonAlpha) score += 15;

        //特殊字元已計算，所以空白不再重複計，拿掉 
        //if(password.match(/\s/)) score += 10;


        //console.log("score:" + score);
        //五個級距
        if(score < 15) return 0;
        if(score < 20) return 1;
        if(score < 35) return 2;
        if(score < 50) return 3;
        return 4;
    };
    
    function updateIndicator(event) {
        var strength = $.pwstrength($(this).val()), options = event.data, klass;
        klass = options.classes[strength];
        
        options.indicator.removeClass(options.indicator.data('pwclass'));
        options.indicator.data('pwclass', klass);
        options.indicator.addClass(klass);
        options.indicator.find(options.label).html(options.texts[strength]);
    }
    
    $.fn.pwstrength = function(options) {
        var options = $.extend({
            label: '.label',
            classes: ['pw-very-weak', 'pw-weak', 'pw-mediocre', 'pw-strong', 'pw-very-strong'],
            texts: ['very weak', 'weak', 'mediocre', 'strong', 'very strong']
        }, options || {});
        options.indicator = $('#' + this.data('indicator'));
        
        return this.keyup(options, updateIndicator);
    };
})(jQuery);
</script>

<script>
        $('#btn_captcha').click(function () {
            getCaptcha()
        })
        getCaptcha()
        function getCaptcha() {
            var xhr = new XMLHttpRequest();
          xhr.open("GET", "/signin/captcha");
          xhr.responseType = "arraybuffer";
          xhr.addEventListener("load",function(event) {
            var blob = new Blob([xhr.response], {type: "image/png"});
            var imageUrl = window.URL.createObjectURL(blob);   
            $('#img_captcha').attr('src',imageUrl)
          });
          xhr.send();    
        }
      </script> 
{% endblock %}