{% extends "app.html" %}
{% block css %}
<style>
.st1{
    font-size:24px;
}
.cartst1{
    float:right;
    margin:300px 300px 0px 0px;
    background:white;
    font-size:24px;
    display:none
}
.cartst2{
    float:right;
    margin:300px 300px 0px 0px;
    background:white;
    font-size:24px
}

</style>
{% endblock %}
{% block appcode %}
<div id="div1" style="background-color:rgb(246, 242, 217)">
    <div style="float:left;margin:50px 0px 0px 300px;">
        <ul style="border:2px solid khaki;padding:0px 80px 20px 10px;background-color:rgb(255, 255, 169);list-style-type:none;color:black;">
            <li style="font-size:20px;padding:0px 0px 20px 60px;font-weight:800">選單</li>
            {% for teams in teams %}
            <li><a href="{% url "store:category" teams.teamid %}">{{teams.teamname}}</a></li>
            {% endfor %}
            <li><a href="/store">全部</a></li>
        </ul>
    </div>
    <table id="cart" class="cartst1">
        <tr>
            <th>數量</th><th>商品名稱</th>
        </tr>
    </table>
    {% for products in products %}
    <div style="background-color: wheat;margin:65px 850px 0px 600px;border:2px solid black">
        <img src="/media/{{products.image}}" title="{{products.productdesc}}" width="200" style="margin:10px">
        <input type="button" value="加入清單" name="{{products.productname}}" id="{{products.productid}}" style="float:right;margin:90px 40px 0px 0px;border-radius:12px;border:none;width:30%;cursor:pointer;background-color:rgb(245, 243, 159)">
    </div>
    <div style="background-color: wheat;margin:0px 850px 10px 600px;border:2px solid black">
        <div style="margin:10px 0px 10px 0px;display:inline">
            <span style="font-size:24px">{{products.productname}}</span>
            {% if products.teamid.teamid == 1 %}
            <span><br>桃猿</span>
            {% endif %} 
            {% if products.teamid.teamid == 2 %}
            <span><br>統一獅</span>
            {% endif %} 
            {% if products.teamid.teamid == 3 %}
            <span><br>富邦悍將</span>
            {% endif %} 
            {% if products.teamid.teamid == 4 %}
            <span><br>中信兄弟</span>
            {% endif %}
            {% if products.teamid.teamid == 5 %}
            <span><br>中華職棒</span>
            {% endif %} 
            <span><br>{{products.price}}</span>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        idbox=[]
        Array.prototype.remove = function(val){
            index = this.indexOf(val);
            this.splice(index, 1);
        };
        $('#div1 input').each(function(){
            $(this).on('click',function(){
                id=$(this).attr('id')
                name=$(this).attr('name')
                exist=idbox.indexOf(id)
                $(document).on('click','.st1',function(){
                    idbox.remove(id)
					$(this).parents("tr").remove()
                    rows = document.getElementById("cart").rows.length
                    if(rows==1){
                        $('#cart').addClass('cartst1')
                        $('#cart').removeClass("cartst2")
                    }
				})
                if(exist==-1){
                    $('#cart').append("<tr id="+id+"><td><input type='text' size='1' maxlength='2' value=1></td><td><a href='#' class='st1'>"+name+"</a></td></tr>")
                    idbox.push(id)
                    rows = document.getElementById("cart").rows.length
                    if(rows>=2){
                        $('#cart').removeClass("cartst1")
                        $('#cart').addClass('cartst2')
                    }
                }
            })
        })
    });
</script>
{% endblock %}