{% block content %}
    <table>
        <thead>
            <tr>
                <th>商品分類</th>
                <th>商品名稱</th>
                <th>商品價格</th>
                <th>商品描述</th>
                <th>商品圖片</th>
                <th>編輯</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for category in categorys %}
                <td>{{category.categoryname}}</td>
                {% endfor %}
                {% for product in products %}
                <td>{{product.modelname}}</td>
                <td>{{product.unitcost}}</td>
                <td>{{product.description}}</td>
                <td><img src="/media/{{product.productimage}}" width = "100" /></td>
                <td><a href="{% url "store:update" product.productid %}">更新</a></td>
                <td><a href="{% url "store:delete" product.productid %}">刪除</a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock%}
