{% extends "app.html" %}
{% block appcode %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    <label for="inputName">商品名稱</label>
    <div>
      <input type="text" id="inputName" name="modelname" value="{{name}}">
    </div>
  </div>
  <div>
    <label for="select1" >商品分類</label>
    <div>
      <input id="inputcategoryname" list="datalist1">
      <datalist id="datalist1">
        {% for category in categories %} 
        <option value="{{category.categoryname}}"></option>                       
        {% endfor  %} 
      </datalist>
    </div>
  </div>
  <div >
    <label for="inputUnitcost" >商品價格</label>
    <div>
      <input type="text" id="inputUnitcost" placeholder="Unitcost" name="unitcost">
    </div>
  </div>
  <div>
    <label for="inputDescription">商品描述</label>
    <div>
        <textarea cols=40 rows=6 id="inputDescription" placeholder="Description" name="description"></textarea> 
    </div>
  </div>
  <div>
    <label for="inputFile">商品圖片</label>
    <div>
      <input type="file" id="inputFile" name="productimage">
    </div>
  </div>
  <div>
    <div>
      <button type="submit">更新</button>
    </div>
  </div>
</form>
{% endblock %}
