{% extends "app.html" %}
{% load static %}
{% block css %}
{% endblock %}
{% block appcode %}
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <canvas id="bar-chart" width="10" height="10"></canvas>
        </div>
        <div class="col-6">
            <canvas id="pie-chart" width="10" height="10"></canvas>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
    $.getScript("{% static 'chartera.js' %}",function(){
    })
</script>
{% endblock %}