{% extends "app.html" %}
{% load static %}
{% block css %}
{% endblock %}
{% block appcode %}
<div class="container mt-5">
        <table id="todolist" class="table table-editable">
            <thead>
                <tr>
                    <th class="text-center">排名</th>
                    <th class="text-center">球隊</th>
                    <th class="text-center">球員名字</th>                     
                    <th class="text-center">打擊率</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        var tb = $("#todolist>tbody")
        var docFrag = $(document.createDocumentFragment());
        $.get("/player/rankingdata",function(datas){
            data = JSON.parse(datas)
            $.each(data,function(index,value){
                var number = $("<td class='text-center'></td>").text(index+1)
                var teaname = $("<td class='text-center'></td>").text(value.playerteamid)
                var playername = $("<td class='text-center'></td>").text(value.playername)
                var playeravg = $("<td class='text-center'></td>").text(value.playeravg)                
                var row = $("<tr></tr>").append([number,teaname,playername,playeravg])
                docFrag.append(row)
            })
            tb.html(docFrag)
        })

    })
</script>
{% endblock %}