{% extends "edit.html" %}
{% load static %}
{% block appcode %}

<h1>Charts</h1>
<select id="charts">
    <option id="team">Articles Per Team</option>
    <option id="article">Article Count by Date</option>
    <option id="pop">Article Popularity</option>
</select>
<hr>


{% endblock%}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
$.getScript("{% static 'js/charts.js'%}", function(j){})
</script>
<!-- <script src="{% static 'js/table.js'%}"></script> -->
{% endblock %}