{% extends "edit.html" %}
{% block appcode %}
    <table>
        <thead>
            <tr>
                <th style="border:2px solid black">名稱</th>
                <th style="border:2px solid black">價格</th>
                <th style="border:2px solid black">描述</th>
                <th style="border:2px solid black">圖片</th>
                <th style="border:2px solid black">編輯</th>
            </tr>
        </thead>
        <tbody>
            {% for products in products %}
            <tr>
                <td style="border:2px solid black">{{products.productname}}</td>
                <td style="border:2px solid black">{{products.price}}</td>
                <td style="border:2px solid black">{{products.productdesc}}</td>
                <td style="border:2px solid black">
                    {% if products.image|length > 20 %}
                    <img src="{{products.image}}" width="100" style="margin:10px">
                    {% else %}
                    <img src="/media/{{products.image}}" width="100" style="margin:10px">
                    {% endif %}</td>
                <td style="border:2px solid black"><a href="{% url "admin:update" products.productid %}">更新</a>
                <br><a href="{% url "admin:delete" products.productid %}">刪除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock%}
