{% load static %}
<footer class="py-5 bg-dark">
    <div class="container text-center text-white">
        <p>Yami &copy; Your Website 2018</p>
        <a href="www.uni-lions.com.tw"><img src ="{% static 'images/11111.png' %}"></a>
        <a href="www.lamigo-monkeys.com.tw"><img src ="{% static 'images/22222.png' %}"></a>
        <a href="https://www.fubonguardians.com/content/masterpage/Index.aspx"><img src ="{% static 'images/33333.png' %}"></a>
        <a href="http://www.brothers.tw/"><img src ="{% static 'images/44444.png' %}"></a>
        <a href="http://www.cpbl.com.tw/cpbl.html"><img src ="{% static 'images/666666.png' %}"></a>
        <i href="#" class="fab fa-facebook-square iconfooter m-3"></i>
        <i href="#" class="fab fa-google-plus-g iconfooter m-3"></i>
    </div>
</footer>